// Make theming the base window easier
window {
  background-color: transparent;

  > box {
    background-color: #1f1f28;
  }
}

.icon {
  font-family: Material Symbols Outlined;
}

@keyframes transitionIn {
  from {
    margin-left: -50rem;
    margin-right: 50rem;
  }

  to {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
