@keyframes transitionIn {
  from {
    margin-left: -50rem;
    margin-right: 50rem;
  }

  to {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.power-btn-icon {
  padding: 0px 5px;
  font-size: 52px;
}

.power-btn:hover {
  color: $red;
  transition: 150ms ease;
}
