.quick-settings {
  padding: 1em;
}

.quick-setting-unit {
  padding: 5px 5px;
  margin: 0.5em 0.5em;
  padding: 0.3em 0.5em;
  background-color: $bg_s;
  border-radius: 1em;
}

.quick-setting-btn {
  border-radius: 1em;
}

.quick-setting-btn:hover {
  transition: 150ms ease;
  background-color: $bg4;
}

.quick-setting-btn > .icon {
  font-size: 22px;
}

.vol-in-bar {
  min-width: 100px;
  trough highlight {
    background-color: $red-dim;
  }
}

.vol-out-bar {
  min-width: 100px;
  trough highlight {
    background-color: $orange;
  }
}

.brightness-bar {
  min-width: 200px;
  trough highlight {
    background-color: $yellow;
  }
}
