scale {
  // @include window;
  background: $bg3;

  label {
    color: $fg;
    font-size: 2rem;
  }
}

scale trough {
  background-color: $bg1;
  margin: 1rem 0 .5rem;
  min-height: 10rem;
  min-width: 3px;
  // @include rounding;

  highlight {
    min-width: 0;
    // @include rounding;
  }
}

// .osd_vol highlight {
//   background-image: linear-gradient(to top, $teal, $sky);
// }

.brightness-bar highlight {
  background-image: linear-gradient(to top, $yellow_dim, $fg);
}
