calendar {
  padding: 5px;
  background: $bg;

  :selected {
    color: $red;
  }

  .header {
    color: $fg1;
  }

  .highlight {
    color: $yellow;
    font-weight: bold;
  }

  .button {
    color: $blue;
  }

  :indeterminate {
    color: $bg2;
  }
}
